@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

@import url('https://fonts.googleapis.com/css?family=Philosopher|Vollkorn');
/*font-family: 'Philosopher', sans-serif;*/
/*font-family: 'Vollkorn', serif;*/


html{
    font-size: 15px;
    font-family: 'Philosopher', sans-serif;
    background: url("images/background.png");
}

body{
    width: 98%;
    margin: 10px auto;
    border: 5px solid #ccc;
    border-radius: 5px;
    position: relative;
    z-index: 10;
}

a{
    font-family: 'Vollkorn', serif;;
}

.allmighty{
    width: 100%;
    background: url("images/gold.png") repeat;
}

.wrap{
    width: 100%;
}

.head-top{
    width: 90%;
    margin: 0 auto;
    height: 100px;
    padding-top: 20px;
    font-size: 2em;
}

h1{
    float: left;
    font-weight: bold;
}

h1 img{
    width: 100px;
}

.user{
    float: right;
    border: none;
    border-radius: 50%;
    background: lightblue;
    padding: 0 2px;
    line-height: 35px;
    text-align: center;
}

.wide-bar{
    text-align: right;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 5px;
}

.wide-bar li{
    width: 120px;
    height: 50px;
    background: #ff9c62;
    border-radius: 45%;
    display: inline-block;
    box-shadow: inset 0 0 30px yellow;
    text-align: center;
    line-height: 50px;
    margin: 0 5px;
    border: 1px solid yellow;
}

.wide-bar li:hover{
    box-shadow: 0 0 40px #ff00ff;
    cursor: pointer;
}

.wide-bar li>a{
    font-size: 1.2em;
    color: #000;
    text-decoration: none;
}

.falling:hover ul{
    display: block;
}

.falling a> i{
    font-size: 0.8em;
    color: yellow;
}

.hiding{
    float:left;
    z-index: 20;
    position: absolute;
    display: none;
}

.hiding>li{
    margin: 0 4px;
}

.information{
    width: 95%;
    margin: 0 auto;
    background: #ffffff;
    border: 5px inset #ccc;
    text-align: center;
    z-index: 15;
    position: relative;
}

#first{
    margin-bottom: 20px;
}

#third{
    padding: 20px 0;
}


/*main*/

.tournaments{
    background: url("images/__the_winged_dragon_of_ra___by_livingdeadsuperstar-d4sl98b.png")
                no-repeat center center;
    background-size: cover;
    height: 1000px;
}

.tournaments p{
    text-align: right;
    font-size: 1.5em;
    font-weight: bold;
    color: yellow;
    text-shadow: 2px 2px 15px white;
    padding: 20px 70px 0 0;
    -webkit-text-stroke: 1px #fff;
    letter-spacing: 1px;
}

.blue-eyes{
    text-transform: uppercase;
    position: relative;

}

.blue-eyes .img{
    display: none;
    opacity: 0;
    position: absolute;
    top: -100px;
    right: -50px;
    width: 500px;
    float: right;
    z-index: 60;
    transition: all 1s;
}

.blue-eyes:hover .img{
    display: block;
    opacity: 1;

}

/*footer*/

footer{
    font-size: 1.2em;
    text-align: center;
}

.bottom-nav{
    width: 95%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.4);
    border: 5px inset red;
    padding: 20px 0;
}

.outer{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 0 15px;
}

.bottom-nav .heading{
    color: #ffa43b;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 0 0 2px #000;
}

.bottom-nav li{
    margin-bottom: 5px;
}

.bottom-nav a{
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
}

.bottom-nav a:hover{
    color: blue;
}

#copyright{
    text-align: center;
}

#copyright>p{
    margin: 10px 0;
}

#copyright i{
    font-size: 2em;
}


/*responsive*/

@media screen and (min-width: 1100px){
    body{
        width: 1100px;
    }
}

@media screen and (max-width: 800px){
    .wide-bar li{
        width: 70%;
        height: 30px;
        line-height: 30px;
        display: block;
        box-shadow: inset 0 0 20px yellow;
        margin: 0 auto;
        border-radius: 10px;
    }

    .hiding{
        width: 50%;
        right: 50px;
        top: 150px;
    }


    .tournaments{
        background: linear-gradient(to bottom, #989800, black );
        height: 200px;
    }

    .tournaments p{
        text-align: center;
        padding: 20px 0 0 0;
    }

}

@media screen and (max-width: 650px){

    #trophies, #homework, #exams, .outer, .popup{
        display: none;
    }

    #copyright{
        display: block;
    }

    .blue-eyes .img{
        width: 300px;
    }

}

@media screen and (max-width: 500px){
    .user{
        display: none;
    }
}